html {
  background: linear-gradient(
      to right,
      #040818,
      #061120,
      #081928,
      #0a2130,
      #0c2937
    );
}
/*SCROLL BAR*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #0c2937;
  mix-blend-mode:multiply;
  
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border: 2.5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0.5;
}



/*SCROLL BAR OVER*/