:root{
  --frontBox1 : #1d1d1d;
  --frontBox2 : #1d1d1d;
}

html {
  background: black;;
}
/*SCROLL BAR*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: black;
  mix-blend-mode: multiply;
}

::-webkit-scrollbar-thumb {
  background: var(--frontBox1);
  border: 2.5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0.5;
}

/*SCROLL BAR OVER*/
