@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto&family=Satisfy&family=Tektur:wght@400;800&display=swap");
:root{
  --frontBox1 : #1d1d1d;
  --frontBox2 : #1d1d1d;
}

#mainLayoutDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#mainLayoutDivSub1 {
  width: 15%;
  margin: 1%;
  margin-top: 50px;
  height: 85vh;
  background-color: var(--frontBox1);
  opacity: 0.7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#mainLayoutDivSub2 {
  text-decoration: none;
  width: 83%;

  margin: 1%;
  margin-top: 50px;
  height: 85vh;
  background-color: var(--frontBox2);
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.createRoom {
  text-align: center;
  height: 170px;
  width: 170px;
  background-color: rgba(255, 255, 255, 0.502);
  border-radius: 25px;
  margin-right: 25px;
}
.joinRoom {
  text-align: center;
  height: 170px;
  width: 170px;
  background-color: rgba(255, 255, 255, 0.502);
  border-radius: 25px;
  margin-left: 25px;
}

@media (max-width: 800px) {
  #mainLayoutDiv {
    flex-direction: column-reverse;
  }
  #mainLayoutDivSub1 {
    width: 90%;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    max-width: 97vw;
    min-height: 150px;
  }
  .createRoom {
    margin-right: 15px;
    margin-left: 0;
  }
  .joinRoom {
    margin-right: 15px;
    margin-left: 0;
  }
  #mainLayoutDivSub2 {
    width: 95%;
    height: 50vh;
    max-width: 97vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
  }
}
