@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto&family=Satisfy&family=Tektur:wght@400;800&display=swap');

#mainLayoutDivSub2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;    
    font-weight: bolder;
}
.createRoom{
    text-align: center;
    height: 170px;
    width: 170px;
    background-color: azure;
    border-radius: 25px;
    margin-right :25px;
}
.joinRoom{
    text-align: center;
    height: 170px;
    width: 170px;
    background-color: azure;
    border-radius: 25px;
    margin-left :25px;
}