@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto&family=Satisfy&family=Tektur:wght@400;800&display=swap");



#mainLayoutDivRoomAction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loginPageHeadingRoomAction{
  font-family: "Biotif Mid", sans-serif;
  color: var(--boxes);
  margin-bottom: 15px;
  font-size: clamp(0.3rem, 1rem);
  width: 100%;
  max-width: 300px;
  text-align: start;
  margin: 0%;
  text-align: left;
}
#mainLayoutDivSub1RoomAction {
  width: 15%;
  margin: 1%;
  margin-top: 50px;
  height: 85vh;
  background-color: var(--frontBox1);
  opacity: 0.7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  gap: 15px;
}

#mainLayoutDivSub2RoomAction {
  text-decoration: none;
  width: 83%;

  margin: 1%;
  margin-top: 50px;
  height: 85vh;
  background-color: var(--frontBox2);
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  border-radius: 15px;
}
.signinputRoomAction {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  font-family: "Oswald", sans-serif;
}
.signSubmitRoomAction {
  margin-top: 15px;
  height: 35px;
  border-radius: 15px;
  border: 2px solid transparent;
  font-family: "Montserrat";
  font-weight: bold;
  width: 315px;
}

.signSubmitRoomAction:active {
  opacity: 0.1;
}

.formBoxRoomAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 800px) {
  #mainLayoutDivRoomAction {
    flex-direction: column-reverse;
  }
  #mainLayoutDivSub1RoomAction {
    width: 90%;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    max-width: 97vw;
    min-height: 150px;
  }
  .createRoomRoomAction {
    margin-right: 15px;
    margin-left: 0;
  }
  .joinRoomRoomAction {
    margin-right: 15px;
    margin-left: 0;
  }
  #mainLayoutDivSub2RoomAction {
    width: 95%;
    height: max-content;
    max-width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;

    padding-bottom: 80px;
  }
  .signinputRoomAction {
    width: 250px;
    height: 40px;
  }
  .signSubmitRoomAction {
    width: 250px;
    height: 30px;
  }
  #mainLayoutDivRoomAction {
    flex-direction: column-reverse;
  }
  #mainLayoutDivSub1RoomAction {
    width: 90%;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    max-width: 97vw;
    min-height: 150px;
  }
  .createRoomRoomAction {
    margin-right: 15px;
    margin-left: 0;
  }
  .joinRoomRoomAction {
    margin-right: 15px;
    margin-left: 0;
  }
  #mainLayoutDivSub2RoomAction {
    width: 95%;
    height: 50vh;
    max-width: 97vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
  }
}
